* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.left p {
  padding: 20px;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin: 20px 0px 20px;
}



#main {
  display: grid;
}

section.left {
  grid-column: 1;
  grid-row: 1/2;
  max-width:25vw;
}
section.middle {
  grid-column: 2;
  grid-row: 1/2;
}
section.right {
  grid-column: 3;
  grid-row: 1;
}

.container {
  width: 50vw;
  height: 100vh;
  background-color: #aadaff;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(33, minmax(1.5vw, 1.5vw));
  grid-template-rows: repeat(32, minmax(3vh, 3vh));
  justify-items: start;
}

.clickzone {
  position: relative;
  grid-column: 1/34;
  grid-row: 1/34;
  height: 100vh;
  cursor: pointer;
  width: 50vw;
}

.map {
  grid-column: 1/17;
  grid-row: 1/17;
  height: 100vh;
  width: 50vw;
}

.dashboard {
  margin-left: 40px;
  padding: 20px;
}

.refugee-boat {
  width: 6px;
  height: 13px;
  background: url("/img/refugee-boat.png") center no-repeat;
}

.distress-call {
  border: 2px solid red;
  padding: 30px;
  border-radius: 60%;
}

.ports {
  position: relative;
  width: 14px;
  height: 14px;
  background: url("/img/port.png") center no-repeat;
}

#lampedusa-port {
  grid-column: 6;
  grid-row: 14;
}

#malta-port {
  grid-column: 12;
  grid-row: 13;
}

#pozzallo-port {
  grid-column: 14;
  grid-row: 12;
}

#messina-port {
  grid-column: 15;
  grid-row: 11;
}

#crotone-port {
  grid-column: 19;
  grid-row: 10;
}

#taranto-port {
  grid-column: 21;
  grid-row: 9;
}

.main-boat {
  width: 10px;
  height: 46px;
  background: url("/img/viking.png") center no-repeat;
}
