* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.mobile-description {
  display: none;
}

.display-mobile{
  display: none;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.left p {
  padding: 20px;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

#main {
  display: grid;
}

section.left {
  grid-column: 1;
  grid-row: 1;
  max-width: 30vw;
}
section.middle {
  grid-column: 2;
  grid-row: 1/4;
}
section #right {
  grid-column: 1;
  grid-row: 2/4;
}

.container {
  width: 50vw;
  height: 100vh;
  background-color: #aadaff;
  display: grid;
  grid-template-columns: repeat(33, minmax(1.5vw, 1.5vw));
  grid-template-rows: repeat(32, minmax(3vh, 3vh));
  justify-items: start;
}

.clickzone {
  position: relative;
  grid-column: 1/34;
  grid-row: 1/34;
  height: 100vh;
  width: 50vw;
}

.launch {
  color: white;
  background-color: #0d355a;
  grid-column: 15;
  grid-row: 16;
  width: 10vw;
  height: 8vh;
  padding: 20px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.map {
  grid-column: 1/17;
  grid-row: 1/17;
  height: 100vh;
  width: 50vw;
}

.dashboard {
  padding: 20px;
}

.refugee-boat {
  width: 6px;
  height: 13px;
  background: url("./img/refugee-boat.png") center no-repeat;
}

.distress-call {
  border: 2px solid red;
  padding: 30px;
  border-radius: 60%;
}

.ports {
  position: relative;
  width: 14px;
  height: 14px;
  background: url("./img/port.png") center no-repeat;
}

#lampedusa-port {
  grid-column: 6;
  grid-row: 14;
}

#malta-port {
  grid-column: 12;
  grid-row: 13;
}

#pozzallo-port {
  grid-column: 14;
  grid-row: 12;
}

#messina-port {
  grid-column: 15;
  grid-row: 11;
}

#crotone-port {
  grid-column: 19;
  grid-row: 10;
}

#taranto-port {
  grid-column: 21;
  grid-row: 9;
}

.main-boat {
  width: 10px;
  height: 46px;
  background: url("./img/viking.png") center no-repeat;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }
  section.left {
    max-width: 40vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  section.left {
    max-width: 40vw;
  }
}

@media (max-width: 425px) {
  .clickzone {
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
  .map {
    width: 100vw;
  }
  section.left {
    grid-column: 1;
    grid-row: 1;
  }

  section.middle {
    grid-column: 1;
  }

  h1 {
    font-size: 40px;
    position: relative;
    padding: 12px;
    width: 100vw;
    text-align: center;
    background-color: #0d355a;
    color: white;
    margin-top: 0px;
  }
  .left p {
    display: none;
  }

  .display-mobile{
    visibility:visible;
  }
  
}
